* {
  box-sizing: border-box;
}

#contenedor_area{
	width:100%;
	height:39px;
	overflow:hidden;
	border-bottom: 1px solid #494949;
	background-color: #494949;}
#contenedor_area #areas{
	width:200px;
	margin: 0 auto;

	}
#contenedor_area #areas ul li{
	border: 1px solid #383838;
	float: left;
	width: 100px;
	padding: 10px;
	font-size: 14px;
	color: #FFF;
	cursor:pointer;
	text-align: center;
	text-transform: uppercase;
	background-image: url(http://festivaldeteatro.com.co/static/img/line-bg.png);
	}
#contenedor_area #areas ul li:hover, #contenedor_area #areas ul li.activa{
	background-color: red;
	}	
#contenedor_area #areas ul li a{
	padding:10px;}	
/********************codigo de la grilla *********************************/
.container {
  width: 1280px;
  margin: 0 auto;
}
.title h1{
	font-size: 6em;
	line-height: 3.1em;
	}
	
.item{
  width:  320px;
  height: 320px;
  float: left;
  border: 1px solid #383838;
  background: #fff;
  overflow:hidden;
  text-align:center;
  text-transform: uppercase;
  font-size:18px;
  cursor:pointer;
}

a .item {
	color:#383838;}

.item:hover{
	 background: #1F1F1F;
	 color:#FFF;
	 opacity:.7;
	}

.item #imagen{
	background-color:#CCC;
	height:190px;
	overflow:hidden;
	background-color:#1F1F1F;
	}
	
.item #imagen img{
	height: 227px;
	}
	
.item #marca{
	color:#8F8F8F;
	font-size:12px;
	font-style:italic;
	padding:20px 20px 0 20px;
	text-align:left;
	}	
	
.item #pais_genero{
	font-size:11px;
	padding:10px 20px 0 20px;
	text-align:left;
	}	
	
.item #nombre{
	text-align:left;
	padding:10px 20px 0 20px;}	
	
/***************************perfiles y obras**********************************/
.obras{
	display:none;}
	
.obras .espacio{
	margin-top:0px;}	
.perfil, .obras{
	font-size: 1.3em;
    text-transform: uppercase;
	margin-right: 20px;	
	}
	
.perfil hr, .obras div hr, .members li hr{
	margin:0 0 10px 0;}	
	
.perfil #imagen	{
	text-align:center;
	width:98%;
	height:400px;
	background-color:#1F1F1F;
	overflow:hidden;
	margin-bottom:10px;
	}
	
.perfil #imagen img{
	height:400px;
	}
	
.perfil .text, .obras .text{
	font-weight:300;
	font-size: .7em;}	
.perfil .pequeno, .obras .pequeno{
	text-transform: lowercase;
}	
.perfil .texto.pequeno strong, .obras .texto.pequeno strong{
	font-size:14px;
    text-transform:uppercase;
}	
.perfil #resena{
	padding-right:20px;}

#cont_redes{
	width:100%;
	padding:10px;
	overflow:hidden;}
#cont_redes #redes{
	width:200px;
	margin:0 auto;
}
#cont_redes #redes .r{
	width:100px;
	float:left;
	}
#cont_redes #redes .r span{
	font-size: 1em;}	
sidebar{
	text-transform: uppercase;}		
.more-info ul {
margin: auto;
padding: 100px;
width: 100%;
text-align: center;	}

.members  li{
	cursor:pointer;}

#organizacion #imagen{
	width:100%;
	text-align: center;
	background-color: #1F1F1F;}

#organizacion #imagen img{
	width:150px;
	}
.contact sidebar{
	width:0;
	margin-left:50px;}	
@media only screen and (max-width:1024px){
.logo-via{
	display:none;}
.container-nav,.container{
	width:980px;}	
}	
@media only screen and (max-width:960px), only screen and (max-device-width: 960px) {
	  .container, .form{
	   width:960px;
	   margin: 0 auto;
	   }
	   .perfil #imagen{
		    height:500px;
		   }
	   .perfil #imagen img{
		   height:500px;
		   }
		.ocultar{
			display:none;} 
		.obras{
	        display:inline;}
		.obras .espacio{
			margin-top:50px;
			}		
		#cont_redes #redes .r span, .bar-red span, .bar-red p{
			font-size: 2.5em;}	  
}

.container{
	  margin: 0 auto;}
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
}

