/* 
    Document   : style
    Created on : 19/09/2013, 12:23:43 AM
    Author     : Juan Ramos

*/

a{
    text-decoration: none
}
body{
    background: #383838;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}
ul{
    list-style: none;
    padding: 0;
}
body, ul, figure,h1,h2,h4,h3{
    margin: 0;
}

/*=================================================================
header
===================================================================*/

header{
    position: relative;
}
nav span{
    display: block;
} 
#logo{
    height: 80px;
}
#logo img{ 
    height: 80px;
}
#logo, nav,nav a, .content-head ul {
    display: inline-block;
    vertical-align: middle;
}
/*=================================================================
nav
===================================================================*/
nav {
    margin-left: 20px;
}
nav a{
    box-sizing: border-box;
    color: #fff;
    font-size: 0.8em;
    height: 80px;
    margin: -3px;
    padding: 27px 13px;
    text-align: center;
    text-transform: uppercase;
}

nav a:hover{
    background:red;
    color: #f2c314;
}

nav a span{

    font-size: 0.7em;
}
.background-left{
    background: url("../images/header-bg.svg");
    height: 80px;
    margin-right: 300px;
    position: absolute;
    right: 50%;
    top:20px;
    width: 3000px;
}

.container-nav{
    background: url("../images/header-bg.svg");
    margin: auto;
    width: 1060px;
}
.content-head{
    position: absolute;
    width: 100%;
    top: 20px;
}
.menus li{    
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
}
.menus{    
    width: 40px;
}
.menus li a{
    color: #f2c314;
}
.menus li a span{
    display: block;
    height: 40px;
    width: 40px;
}
.menus li a:hover span{
    background: red;
}
.network{
    border-left: 1px solid #444;
}
.network li:first-child{
    border-bottom: 1px solid #444;
    height: 39px;
}

/*=================================================================
slide
===================================================================*/
.carousel img{
    min-width: 100%;
    width: 100%; 
}
 

.flex-next,.flex-prev{
    background: #fff;
    color: #000;
    display: block;
    font-size: 2em;
    font-weight: 900;
    height: 40px;
    margin-right: 1px;
    width: 60px;
}
.flex-next:hover,.flex-prev:hover{
    background: red;
    color: #f2c314;

}

.flex-control-nav{
    display: none
}
.flex-direction-nav{
    bottom: 3px;
    left: 50%;
    margin-left: -60px;
    position: absolute;
}
.flex-direction-nav li{
    display: inline-block;
    text-align: center;
    
}
.slider{
    position: relative;
}

/*=================================================================
footer
===================================================================*/

footer{
    background: #1f1f1f url(../images/big-logo.svg) center -50px no-repeat;
    text-align: center;
}
footer h3{
    color: #fff;
    font-size: 1em;
    font-weight: 400;
    padding-top: 80px;
    text-transform: uppercase;

}
.festival-teatro, .redlat-circulart{
    display: inline-block;
    width: 49%;
}
.festival-teatro img{
    width: 250px;
}
.footer-below{
    margin: 60px auto 0;
    width: 980px;
    padding-bottom: 12px;
    text-align: left;
}
.footer-network li{
    display: inline-block;
}
.footer-network li a{
    background: #fff;
    border-radius: 50%;    
    color:#000;
    display: block;
    font-weight: 300;
    height: 40px;
    line-height: 2.5em;
    padding: 0 1em;

}
.redlat-circulart{
    text-align: right;
}
.redlat-circulart a{
    padding-right: 20px
}

/*=================================================================
state
===================================================================*/
.bar-red{
    background: #ea202c;
    margin-top: -3px;
    text-align: center;
}
.bar-red {
    color: #f2c314;
    padding: 10px;
}
.bar-red p{
    font-size: 2em;
    font-weight: 100;
    line-height: .5em;
}
.content{
    background: #383838;
    position: relative;
    z-index: 30;
}
.more-info{
    background: #fff;

}
.more-info  ul{
    margin: auto;
    padding: 100px;
    width: 980px;
}

.more-info li{
    border-right: 2px solid #383838;
    display: inline-block;
    height: 150px;
    vertical-align: top;
    width: 323px;
}

.more-info li:last-child
{
    border:none;
}
.more-info li p{
    font-size: .75em;
    margin: 44px auto;
    width: 215px;
}
.more-info span{
    color: #f2c314;
}
.title {
    background: #1f1f1f;
    height: 292px;
    text-align: center;
}
.title h1{
    color: #ea202c;
    font-weight: 100;
    font-size: 15em;
    line-height: 1em;
    text-transform: uppercase;
}
.title h2{
    text-align: center;
    text-transform: uppercase;    
    color: #fff;
    font-size: 2.5em;
    font-weight: 100;
    margin: 0;
    padding: 10px 0; 
}

.title input[type="text"], .title input[type="submit"]{
    border: 0;
    height: 40px;
    margin: 0 -2px;
    padding: 0 12px;
    width: 260px;
}
.title input[type="submit"]{
    background: #ea202c;
    color: #f2c314;
    cursor: pointer;
    width: 200px;
}
.via{
    color: #fff;
    max-width: 980px;
    margin: 0 auto;
    padding-top: 43px;
    text-align: justify;
}
.via h3, .via p{
    font-weight: 100;
    margin: 20px;
    width: 755px;
}


/*=================================================================
state
===================================================================*/

.activate{
    background: red;
    color: #f2c314
}



