/* 
    Document   : style
    Created on : 19/09/2013, 12:23:43 AM
    Author     : Juan Ramos

*/
@font-face {
    font-family: 'network';
    src:url('fonts/network.eot');
    src:url('fonts/network.eot?#iefix') format('embedded-opentype'),
        url('fonts/network.woff') format('woff'),
        url('fonts/network.ttf') format('truetype'),
        url('fonts/network.svg#network') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'network';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
    content: "\e600";
}
.icon-facebook:before {
    content: "\e601";
}

a{
    color: #FF0;
    text-decoration: none
}
body{
    background: #383838;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}
hr{
    border: 1px solid red;
    border-bottom: 0;
    margin: .8em 0;
    width: 28px;
    
}
ul{
    list-style: none;
    padding: 0;
}
body, ul, figure,h1,h2,h4,h3{
    margin: 0;
}

/*=================================================================
header
===================================================================*/

header{
    position: relative;
}
nav span{
    display: block;
} 

#logo, .content-head img ,.logo-via{ 
    height: 80px;
}
#logo, nav,nav a, .content-head ul, .logo-via {
    display: inline-block;
    vertical-align: middle;
}


/*=================================================================
nav
===================================================================*/
nav {

    margin-left: 20px;
}
nav a{
    box-sizing: border-box;
    color: #fff;
    font-size: 0.8em;
    font-weight: bold;
    height: 80px;
    margin: -3px;
    padding: 27px 13px;
    text-align: center;
    text-transform: uppercase;
}

nav a:hover{
    background:red;
    color: #f2c314;
}

nav a span{

    font-size: 0.7em;
}
.background-left{
    background: url("../images/header-bg.svg");
    height: 80px;
    margin-right: 300px;
    position: absolute;
    right: 50%;
    top:20px;
    width: 3000px;
}

.container-nav{
    background: url("../images/header-bg.svg");
    margin: auto;
    width: 1115px;
}
.content-head{
    position: absolute;
    width: 100%;
    top: 20px;
}
.logo-via   {
    margin-left: -3px;
}
.menus li{    
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
}
.menus{    
    width: 40px;
}
.menus li a{
    color: #f2c314;
}
.menus li a span{
    display: block;
    height: 40px;
    width: 40px;
}
.menus li a:hover span{
    background: red;
}
.network{
    border-left: 1px solid #444;
}
.network li:first-child{
    border-bottom: 1px solid #444;
    height: 39px;
}
.network span{
    box-sizing: border-box;
    color: #fff;
    padding-top: 12px;
}

/*=================================================================
slide
===================================================================*/
.carousel img{
    min-width: 100%;
    width: 100%; 
}
 

.flex-next,.flex-prev{
    background: #fff;
    color: #000;
    display: block;
    font-size: 2em;
    font-weight: 900;
    height: 40px;
    margin-right: 1px;
    width: 60px;
}
.flex-next:hover,.flex-prev:hover{
    background: red;
    color: #f2c314;

}

.flex-control-nav{
    display: none
}
.flex-direction-nav{
    bottom: 3px;
    left: 50%;
    margin-left: -60px;
    position: absolute;
}
.flex-direction-nav li{
    display: inline-block;
    text-align: center;
    
}
.slider{
    position: relative;
}

/*=================================================================
footer
===================================================================*/

footer{
    background: #1f1f1f url(../images/big-logo.svg) center -50px no-repeat;
    text-align: center;
}
footer h3{
    color: #fff;
    font-size: 1em;
    font-weight: 400;
    padding: 80px 0 22px 0;
    text-transform: uppercase;

}
.festival-teatro, .redlat-circulart{
    display: inline-block;
    width: 49%;
}
.festival-teatro img{
    width: 250px;
}
.footer-below{

    margin: 60px auto 0;
    width: 980px;
    padding-bottom: 12px;
    text-align: left;
}

.footer-network li{
    display: inline-block;
    padding-right: 10px;
}
.footer-network li a{
    background: #fff;
    border-radius: 50%;    
    color:#000;
    display: block;
    font-size: .8em;
    font-weight: 300;
    padding: 13px 15px;
}

.footer-plus{
    padding: 13px 17px !important;
}

.redlat-circulart{
    text-align: right;
}
.redlat-circulart a{
    padding-right: 20px
}

/*=================================================================
content
===================================================================*/
.bar-red{
    background: #ea202c;
    margin-top: -3px;
    text-align: center;
    padding: 10px;
}
.bar-red a{
    color: #f2c314;
}
.bar-red img{
    max-width: 100%;
}
.bar-red p{
    font-size: 2em;
    font-weight: 100;
    line-height: .5em;
    margin: 15px;
}
.bar-red span{
    font-size: 1.3em;
}
.content{
    background: #383838;
    position: relative;
    z-index: 30;
}
.hr-iframe{    
    border-color: #fff;
    margin: 10px auto;
    width: 980px;
}
.more-info{
    background: #fff;

}
.more-info  ul{
    margin: auto;
    padding: 100px;
    width: 980px;
}

.more-info li{
    border-right: 2px solid #383838;
    display: inline-block;
    height: 150px;
    vertical-align: top;
    width: 323px;
}

.more-info li:last-child
{
    border:none;
}
.more-info li p{
    font-size: .75em;
    margin: 44px auto;
    width: 215px;
}
.more-info span{
    color: #f2c314;
}
.title {
    background: #1f1f1f;
    text-align: center;
}
.title-iframe {
    background: #383838;
    text-align: center;
}
.title a{
    background: #ea202c;
    color: #f2c314;
    cursor: pointer;
    display: block;
    height: 40px;
    line-height: 2.5em;
    margin: auto;
    padding: 0 12px;
    width: 200px;
}
.title h1{
    color: #ea202c;
    font-weight: 100;
    font-size: 15em;
    height: 177px;
    line-height: 1em;
    overflow: hidden;
    text-transform: uppercase;
    
}
.title h2{
    text-align: center;
    text-transform: uppercase;    
    color: #fff;
    font-size: 2.5em;
    font-weight: 100;
    margin: 0;
    padding: 10px 0; 
}



.via{
    color: #fff;
    max-width: 980px;
    margin: 0 auto;
    padding-top: 43px;
    text-align: justify;
}
.via hr{
    margin: 7px 0;
    width: 35px;
}

.via h3, .via p{
    font-weight: 100;
    margin: 0;
    width: 755px;
}
.via .p-iframe{
    width: 100%;
}

/*=================================================================
contact
===================================================================*/
label{
    display: block;    
    font-size: 0.8em;
    margin: 20px 0 4px;
    text-transform: uppercase;
}
textarea{
    border: none;
    color: #383838;
    font-size: 1em;
    display: block;
    margin-left: -1px;
}
sup{
    color:red;
}
.assignation{
    font-size: .6em;
}
.contact h1{
    font-size: 6em;
    line-height: 3.1em;
}
.contact h2{
    font-size: 1.3em;
    font-weight: 400;
}
.contact input{
    border: none;
    color: #383838;
    font-size: 1em;
    height: 38px;
    padding-left: 10px;
    width: 330px;

}
.contact input[type=submit]{
    background: #ea202c;
    color: #f2c314;
    cursor: pointer;
    height: 40px;
    margin: 10px 0;
    padding: 0;
    width: 100px;

}
.contact sidebar{
    width: 370px;
}
.contact sidebar a{
    color: #f2c314;
}

.contact sidebar span{
    display: block;
}
.form {
    margin-bottom: 100px;
    width: 600px;
}
.form hr{
    margin-bottom: 50px;
}
.form, .contact sidebar{
    display: inline-block;
    vertical-align: top;
}
.members hr{
    margin: 13px 0;
}
/*=================================================================
state
===================================================================*/

.activate{
    background: red;
    color: #f2c314;
    font-weight: bold;
}
.message{
    color: rgb(152, 255, 168);
    font-size: 1.5em;
}
/*=================================================================
select
===================================================================*/

.select {
  color: #383838;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  height: 40px;
  margin-left: -1px;
  position: relative;
  width: 342px;
}

.select-hidden {
  display: none;
  padding-right: 10px;
  visibility: hidden;
}

.select-options {
  background-color: #fff;
  display: none; 
  list-style: none;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 999;
}
.select-options li {
  border-top: 1px solid #ddd;
  margin: 0;
  padding: 12px 0;
  text-indent: 15px;
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
.select-options li:hover {
  background: #ddd;
  color: #c0392b;
}
.select-options li[rel="hide"] {
  display: none;
}
.select-styled {
  background-color: #fff;
  bottom: 0;
  left: 0;
  padding: 8px 15px;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.select-styled:after {  
    background: #383838;
    box-sizing: border-box;
    content: ">";
    color: white;    
    font-weight: bold;
    height: 24px;
    padding: 2px 8px;
    position: absolute;
    right: 10px;
    width: 24px;
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); 
    -webkit-transform:rotate(90deg);
}
.select-styled:hover {
  background-color: #eee;
}
.select-styled:active, .select-styled.active {
  background-color: #ddd;
}
.select-styled:active:after, .select-styled.active:after {
    
    content: "<";
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); 
    -webkit-transform:rotate(90deg);
}
ul.menu-responsive{
    display: none;
}
/*=================================================================
MediaQuery
===================================================================*/
@media only screen and (max-width:960px), only screen and (max-device-width: 960px) {
    .container-nav{
        width: 100%;
    }
    nav{
        display: none;
    }
    .logo-via {
        display: none;
    }
    .via{
        max-width: 100%;
        padding: 43px 20px 0;
        -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;

    }
    .via h3, .via p{
        width: auto;
    }
    .bar-red p {
        font-size: 1.5em;
    }
    .more-info ul{
         padding: 0;
         width: 100%;
         text-align: center;
     }
    .more-info li{
        border: none;
    }
    .footer-below{
        text-align: center;
        width: auto;
    }
    .festival-teatro{
        display: block;
        width: auto;
    }
    .redlat-circulart {
        text-align: center;
    }
    .nav-bar{
        margin: 40px 10px;
        padding: 0;
    }
    .button-responsive:focus{
        outline:0;
    }
    .nav-bar, .nav-bar:before, .nav-bar:after{
        background: #fff;
        display: block;
        height: 3px;
        position: relative;
        width: 30px;
    }

    .nav-bar:before{
        content: '';
        top:-8px;
    }
    .nav-bar:after{
        content: '';
        top: 5px;
    }
    .button-responsive{
        margin: 0;
        padding: 0;
        border: none;
        background: none;
        float: right;

    }
    ul.menu-responsive{
        background: #1f1f1f;
        display: block;
        text-align: left;
        max-height: 0;
        overflow: hidden;
        position: absolute;
        transition: max-height .4s;
        width: 100%;

    }
    .menu-responsive li:first-child{
        border-top: 1px solid #383838;
    }
    .menu-responsive li{
        border-bottom: 1px solid #383838;
        width: 100%;
    }
    .menu-responsive li a{
        color: #f0f0f0;
        display: block;
        padding: 15px 30px;
        width: 100%;
    }
    .menu-responsive li a:hover{
        color: #ffff00;
    }
    ul.open-menu{
        max-height: 250px;
        transition: max-height .4s;
    }
    .contact h1 {
        font-size: 4em;
        line-height: 5em;
    }
    textarea{
        width: 370px;
    }
}